<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'黑龙江建筑职业技术学院-'+${title}">中心介绍</title>
</head>
<body>
<div class="main-box">
    <div class="top">
        <div class="date">
            <div>
                <span id="old" style="margin-right: 7%;"></span>
                <span id="now" style="margin-right: 1%"></span>
            </div>
        </div>
        <div class="nav">
            <div class="fl-logo">
                <img src="/static/web/img/logo.png" width="100%">
            </div>
            <div class="fr-nav">
                <ul>
                    <li class="nav-li">
                        <a href="/">
                            首页
                        </a>
                    </li>
                    <th:block th:if="${title}=='中心介绍'">
                        <li style="width: 14%;background: url('/static/web/img/cloud.png') top center no-repeat;">
                            <a href="/web/detail?articleId=84" style="color: #002a89;">
                                中心介绍
                            </a>
                        </li>
                    </th:block>
                    <th:block th:if="${title}!='中心介绍'">
                        <li class="nav-li" style="">
                            <a href="/web/detail?articleId=84" >
                                中心介绍
                            </a>
                        </li>
                    </th:block>

                    <li class="nav-li" style="">
                        <a href="/web/class?classId=33">
                            信息资源
                        </a>
                    </li>
                    <li class="nav-li" style="">
                        <a href="/web/class-2?parentId=39">
                            好书推荐
                        </a>
                    </li>
                    <li class="nav-li" style="">
                        <a href="/web/class-2?parentId=34">
                            读者服务
                        </a>
                    </li>
                    <li class="nav-li" style="">
                        <a href="/web/message">
                            在线沟通
                        </a>
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <!--主体-->
    <div class="main">
        <!--上部-->
        <div class="detail-title-div">
            <div class="title">
                <th:block th:if="${title.length()} > 4">
                    <p th:text="${title}" style="font-size: 12px">
                        中心介绍
                    </p>
                </th:block>
                <th:block th:if="${title.length()} <= 4">
                    <p th:text="${title}">
                        中心介绍
                    </p>
                </th:block>
            </div>
        </div>
        <!--下部-->
        <div class="detail-content-div">
            <div class="detail-content" th:utext="${content.getArticleContent()}">

            </div>

        </div>

    </div>

</div>

<!--底部-->
<div class="bottom">
    <p>
        黑龙江建筑职业技术学院图文信息中心版权所有 Copyright © 2015 All rights reserved<br/>
        学院地址：哈尔滨市 ● 哈尔滨新区学院路999号 邮编：150025
    </p>
</div>
</body>
<script src="/static/web/js/jquery-3.31.js"></script>
<script src="/static/web/js/detail.js"></script>
</html>